@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    min-width: 0;
}
.flex{
    display: flex;
}
input{
    max-width: 100%;
    height: 100%;
}
img{
    display: block;
}
.title{
    cursor: none;
}
.title, .price span, .efficient span, .result_crystal{
    display: inline-block;
    width: 100%;
    max-width: max-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; 
}
.efficient span{
    /* line-height: 24px; */
    overflow: visible;
}
.check_input{
    max-width: 50%;
}

body{
    padding-left: 10px;
}

#top{
    gap: 10px;
    min-height: 400px;
    height: 100vh;
}
#base{
    min-width: 200px;
    width: 30%;
    max-width: 250px;
    flex-shrink: 0;
    height: 50vh;
}
#base .crystal{
    max-width: 100px;
}
#base .compare{
    align-items: center;
    gap: 10px;
}
#base .compare .flex{
    align-items: center;
}
#base .compare span{
    flex: none;
    display: inline-block;
    width: max-content
}

#menu{
    height: 50vh;
}
.menu_select{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.menu_btn span.on{
    font-size: larger;
    font-weight: bold;
}
.menu_btn span:not(.on){
    cursor: pointer;
}

#menu .list, .list{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}
#menu .list:not(.on){
    display: none;
}
#menu .list::after, .list::after{
    content: '';
    flex: 0 0 10px; 
}
#menu .list>div, .list>div{
    position: relative;
    min-width: 150px;
    width: 25vw;
    max-width: 250px;
    display: flex;
    flex: none;
    flex-direction: column;
    font-size: clamp(0.666666rem, 1vw, 1rem);
}
#menu .item, .item{
    position: relative;
}
#menu .price, .price, .result{
    gap: clamp(2px, .4vw, 10px);
    align-items: center;
}
#menu .price .efficient, .efficient{
    /* font-size: 1.17rem; */
    max-width: max-content;
    padding: 0 .5em;
    border-radius: 250px;
    border: solid 2px rgb(0, 255, 6);
    background: rgb(19, 198, 23);
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}
#menu .price .efficient.up, .efficient.up{
    border: solid 2px rgb(255, 28, 0);
    background: rgb(198, 39, 19);
}
.item .front{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    display: flex;
    justify-content: center;
}
.item .back{
    position: relative;
    z-index: -1;
    width: 100%;
}

#info{
    position: absolute;
    display: none;
}

#info.hover{
    display: block;
    font-size: 1.5rem;
    content: attr(data-title);
    position: absolute;
    transform: translate(-50%, -50%);
    
    /* 가독성을 위한 스타일 */
    background-color: #222; /* 배경색 강제 */
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    width: max-content;
    
    z-index: 99;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    pointer-events: none;
}
.info_crystal{
    width: 25px;
    min-width: 25px;
}

#calculate{
    position: absolute;
    /* display: flex;
    align-items: flex-end; */
    left: 0;
    bottom: 0;
    /* padding: 10px; */
    padding-left: 10px;
    padding-top: 10px;
    min-height: 300px;
    height: 50vh;
    width: 100vw;
}
#calculate .table{
    gap: 10px;
}

#result{
    min-width: 200px;
    width: 30%;
    max-width: 250px;
    flex-shrink: 0;
}

#result .check .stand:not(.on){
    display: none;
}

#check_list>div .item .delete{
    content: "X";
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
    color: white;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;;
    cursor: pointer;
}